@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: darkred;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

a:active {
    color: red;
}

a::before {
    content: '[->] ';
    text-decoration: none;
}

a::after {
    content: ' [<-]';
    text-decoration: none;
}